Content/Static/** filter=lfs diff=lfs merge=lfs -text
Content/InfinityBladeAdversaries/** filter=lfs diff=lfs merge=lfs -text
Content/InfinityBladeFireLands/** filter=lfs diff=lfs merge=lfs -text
Content/InfinityBladeGrassLands/** filter=lfs diff=lfs merge=lfs -text
Content/InfinityBladeIceLands/** filter=lfs diff=lfs merge=lfs -text
Content/InfinityBladeEffects/** filter=lfs diff=lfs merge=lfs -text
Content/Movies/** filter=lfs diff=lfs merge=lfs -text
Content/Dynamic/Maps/** filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.TGA filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.sbsar filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
Content/Dynamic/Maps/HLOD/** filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/** filter=lfs diff=lfs merge=lfs -text
Content/Dynamic/Maps/** filter=lfs diff=lfs merge=lfs -text
